@use '../css/custom' as *;

body {
    background-color: $bgcolor;
}

.logo {
    @include logo-font;
}

.menu {
    @include nav-font;
}

.contact-btn {
    @include contact-button;
    // padding: 9px;
}

.contact-btn:hover {
    color: white;
}

.mobile-bg {
    background-color: $prycolor;
}